Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-nodiscard,
  readability-redundant-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/'
FormatStyle: file
CheckOptions:
  bugprone-easily-swappable-parameters.MinimumLength: '3'
